.botonPag{
background-color: #C9ADA7;
border-color: #C9ADA7;
border-radius: 3px;
color: #22223B;
margin: 4px;
}

.botonPag:hover{
    background-color: #4A4E69;
    border-color: #4A4E69;
    border-radius: 4px;
    color: #C9ADA7;
    transition: 0.4s;
}