*{
    margin: 0;
}


.container{
    background-image: url(./brooke-lark-GTMGG-xvxdU-unsplashx2.jpg);
    height: 100vh;
    background-size: 215vh;
    
}

.h1{

    font-size: 30px;
    font-family: 'Uchen', serif;
    align-items: center;
    padding: 15vh;
    color: #352208;

}

.boton {
    width: 140px;
    height: 45px;
    font-size: 23px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: #9D8189;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
   }

.boton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #b9baa3;
    z-index: -1;
    transition: all 0.5s;
   }
   
.boton:hover::before {
    width: 100%;
    border-radius: 5%;
   }
   
.boton:hover {
    color: #6d6875;
    border-radius: 5%;

   }
   
.boton:active:before {
    background: #b9b9b9;
    border-radius: 5%;
   }